<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>123</title>
    <link rel='stylesheet' href='/stylesheets/reset-min.css' />	
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/index.css' />	
    <link rel="stylesheet" type="text/css" href="/stylesheets/banner.css"/>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/banner.js"></script>
  </head>
  <body>